/* nav.css */
@import '../../index.scss';


.menu {
  background-color: #f0f0f0;
}

.menu .item {
  color: #333;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 15px;
 
}

.nav-header {
  background-color: $white !important;
}

@media only screen and (min-width: 768px) {

  /* CSS for desktop view */
  .mobile-menu {
    display: none;
  }
}

@media only screen and (max-width: 767px) {

  /* CSS for mobile view */
  .desktop-menu {
    display: none;
  }


}

.test {
  @include sm-device {
    display: none;
  }
}

.cursor-default {
  cursor: default !important ;
}

.logo-img {
  width: 16rem;
  height: 2rem;
  object-fit: cover;
}