#signin-form {

    padding-left: 4rem;
    padding-right: 4.5rem;

    label {
       text-align: start !important; 
    }
}

#signup-form {

    padding-left: 3rem;
    padding-right: 3rem;

    label {
       text-align: start !important; 
    }
}