@import '../../media.scss';

.picture {
  
    @include sm-device {
      display: none !important;
    }
  }

  .landing-container {
    background-color: #f9f9fb !important;
  }

  .ui.grid>.column:not(.row){
    padding-bottom: none;
  }

  .landing-title {
    padding: 4rem 9rem !important;
  }